.share {
  position: fixed;
  left: -21px;
  list-style-type: none;
  margin: 0;
  padding: 0;
  -moz-transform: translateY(-187%);
  -ms-transform: translateY(-187%);
  -webkit-transform: translateY(-187%);
  transform: translateY(-187%);
}

.share li {
  position: relative;
  margin-bottom: 0.25rem;
}

.social-link__share-button {
  height: 32px;
}