.wrapper {}

.social-link {
    padding: 0;
    display: block;
    cursor: pointer;
    height: 32px;
        padding: 0px 0 20px 20px
}

.social-link .nav-label {
    font-family: sans-serif;
    font-size: 14px;
    color: white;
    display: block;
    height: 32px;
    position: absolute;
    top: 0px;
    margin-left: 32px;
    line-height: 2rem;
    padding: 0 20px;
    white-space: nowrap;
    z-index: 4;
    -moz-transition: -moz-transform 0.4s ease;
    -o-transition: -o-transform 0.4s ease;
    -webkit-transition: -webkit-transform 0.4s ease;
    transition: transform 0.4s ease;
    -moz-transform-origin: left 50%;
    -ms-transform-origin: left 50%;
    -webkit-transform-origin: left 50%;
    transform-origin: left 50%;
    -moz-transform: rotateY(-90deg);
    -webkit-transform: rotateY(-90deg);
    transform: rotateY(-90deg);
}

.social-link .nav-label span {
    -moz-transform-origin: left 50%;
    -ms-transform-origin: left 50%;
    -webkit-transform-origin: left 50%;
    transform-origin: left 50%;
    -moz-transform: rotateY(-90deg);
    -webkit-transform: rotateY(-90deg);
    transform: rotateY(-90deg);
}

.social-link:hover .nav-label,
.social-link:hover .nav-label span {
    -moz-transform: rotateY(0);
    -webkit-transform: rotateY(0);
    transform: rotateY(0);
}

.nav-label {
    -moz-transition: background 0.4s ease, -moz-transform 0.4s ease 0.1s;
    -o-transition: background 0.4s ease, -o-transform 0.4s ease 0.1s;
    -webkit-transition: background 0.4s ease, -webkit-transform 0.4s ease;
    -webkit-transition-delay: 0s, 0.1s;
    transition: background 0.4s ease, transform 0.4s ease 0.1s;
    background: #1e2e4f;
}

.social-link:hover .nav-label {
    -moz-transition: -moz-transform 0.4s ease, background 0.4s ease 0.1s;
    -o-transition: -o-transform 0.4s ease, background 0.4s ease 0.1s;
    -webkit-transition: -webkit-transform 0.4s ease, background 0.4s ease;
    -webkit-transition-delay: 0s, 0.1s;
    transition: transform 0.4s ease, background 0.4s ease 0.1s;
    background: #3B5998;
}

.nav-label {
    -moz-transition: background 0.4s ease, -moz-transform 0.4s ease 0.1s;
    -o-transition: background 0.4s ease, -o-transform 0.4s ease 0.1s;
    -webkit-transition: background 0.4s ease, -webkit-transform 0.4s ease;
    -webkit-transition-delay: 0s, 0.1s;
    transition: background 0.4s ease, transform 0.4s ease 0.1s;
    background: #0065d9;
}

.social-link:hover .nav-label {
    -moz-transition: -moz-transform 0.4s ease, background 0.4s ease 0.1s;
    -o-transition: -o-transform 0.4s ease, background 0.4s ease 0.1s;
    -webkit-transition: -webkit-transform 0.4s ease, background 0.4s ease;
    -webkit-transition-delay: 0s, 0.1s;
    transition: transform 0.4s ease, background 0.4s ease 0.1s;
    background: #4099FF;
}